.aloha-edit#aloha-id_text,
.aloha-edit#aloha-id_description {
    width: 90%;
    float: right;
    border: 1px solid black;
    height: 100px;
}

.aloha-edit p {
  margin: 0 !important;
  padding: 0 !important;
}